<h1>Create a new article</h1>
<% if @article.errors.any? %>
<h2>Article has not been created. Read message with error details to find out why.</h2>
<ul>
<% @article.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul>
<% end %>


<%= form_for @article do |f| %>
<div>
<%= f.label :title %>
<br>
<%= f.text_field :title %>
<div>
<div>
<%= f.label :description %>
<br>
<%= f.text_area :description %>
</div>
<div>
<%= f.submit %>
</div>
<% end %>